<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">

	<xacro:macro name="solid_cuboid_inertia" params="m w h d">
		<inertia ixx="${(m*(h*h+d*d))/12}" ixy="0" ixz="0"
			iyy="${(m*(w*w+d*d))/12}" iyz="0"
			izz="${(m*(w*w+h*h))/12}"
		/>
	</xacro:macro>

	<xacro:macro name="sensor_zed"
		params="prefix:=zed parent *origin model:=zed ">

		<xacro:if value="${model == 'zed'}">
			<xacro:property name="baseline" value="0.12" />
		</xacro:if>
		<xacro:if value="${model == 'zedm'}">
			<xacro:property name="baseline" value="0.06" />
		</xacro:if>
		<xacro:if value="${model == 'zed2'}">
			<xacro:property name="baseline" value="0.12" />
		</xacro:if>

		<joint name="${prefix}_base_joint" type="fixed">
			<xacro:insert_block name="origin" />
			<parent link="${parent}" />
			<child link="${prefix}_base_link" />
		</joint>

		<link name="${prefix}_base_link">
			<visual>
				<origin xyz="0 0 0" rpy="0 0 0" />
				<geometry>
					<mesh filename="file://$(find sensors_description)/meshes/${model}.stl" />
				</geometry>
				<material name="light_zed_grey">
					<color rgba="0.35 0.35 0.35 1" />
				</material>
			</visual>
			<collision>
				<origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
				<geometry>
					<mesh filename="file://$(find sensors_description)/meshes/${model}.stl" />
				</geometry>
			</collision>
			<inertial>
				<mass value="0.135" />
				<origin xyz="0 0 0" />
				<xacro:solid_cuboid_inertia m="0.135" w="0.033" h="0.175" d="0.03" />
			</inertial>
		</link>
		<joint name="${prefix}_camera_center_joint" type="fixed">
			<parent link="${prefix}_base_link" />
			<child link="${prefix}_camera_center" />
			<origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
		</joint>

		<link name="${prefix}_camera_center" />


		<joint name="${prefix}_camera_left_joint" type="fixed">
			<origin xyz="0 ${baseline/2} 0" rpy="0 0 0" />
			<parent link="${prefix}_camera_center" />
			<child link="${prefix}_left_camera_frame" />
		</joint>

		<link name="${prefix}_left_camera_frame" />

		<joint name="${prefix}_camera_left_optical_joint" type="fixed">
			<origin xyz="0.0 0.0 0.0" rpy="${-pi/2} 0.0 ${-pi/2}" />
			<parent link="${prefix}_left_camera_frame" />
			<child link="${prefix}_left_camera_optical_frame" />
		</joint>

		<link name="${prefix}_left_camera_optical_frame" />

		<joint name="${prefix}_camera_right_joint" type="fixed">
			<origin xyz="0 -${baseline/2} 0" rpy="0 0 0" />
			<parent link="${prefix}_camera_center" />
			<child link="${prefix}_right_camera_frame" />
		</joint>

		<link name="${prefix}_right_camera_frame" />

		<joint name="${prefix}_camera_right_optical_joint" type="fixed">
			<origin xyz="0.0 0 0.0" rpy="${-pi/2} 0.0 ${-pi/2}" />
			<parent link="${prefix}_right_camera_frame" />
			<child link="${prefix}_right_camera_optical_frame" />
		</joint>

		<link name="${prefix}_right_camera_optical_frame" />


	</xacro:macro>

</robot>